@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Merriweather:ital,wght@0,300;0,700;1,700&family=Playfair+Display&family=Roboto+Slab:wght@300;400&display=swap');

.letter_type {
    font-family: 'Lora', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Slab', serif;
}

body {
    padding-top: 86px;
}
.img {
    background-image: url("https://edutin-publico.s3.amazonaws.com/academy/imagenes/others/home/presentation-2.jpg");
    color: #28b1ac;
    background-repeat: no-repeat;
}
.content-main {
    max-width: 1280px;
    min-height: calc(95vh - 220px);
    margin: 0 auto;
    display: flex; 
}

.text-main {
    max-width: 707px;
    margin: 500px;
    padding: 0px;
    margin: auto 0;
    font-weight: 800;
}
